<?xml version="1.0" encoding="UTF-8"?>
<!--
 Octagon Plugin Person: Person plugin for Octagon application.
 Copyright (C) 2021-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nanoboot.octagon.plugin.person.persistence.impl.mappers.LicenceMapper">

    <resultMap id="licenceResultMap" type="org.nanoboot.octagon.plugin.person.classes.Licence">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>
        <result property="name" column="NAME"/>
        <result property="since" column="SINCE" typeHandler="org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler"/>
        <result property="note" column="NOTE"/>
    </resultMap>

    <sql id="licenceColumns">
        "ID", "NAME", "SINCE", "NOTE"
    </sql>

    <select id="read" parameterType="String" resultMap="licenceResultMap">
        SELECT
        <include refid="licenceColumns"/>
        FROM "LICENCE"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.plugin.person.classes.Licence">
        UPDATE "LICENCE" SET
        "NAME" = #{name},
        "SINCE" = #{since},
        "NOTE" = #{note}
        WHERE "ID" = #{id}
    </update>

    <insert id="create" parameterType="org.nanoboot.octagon.plugin.person.classes.Licence">
        INSERT INTO "LICENCE" (<include refid="licenceColumns"/>)
        VALUES
        (#{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},
        #{name},
        #{since,javaType=org.nanoboot.powerframework.time.moment.LocalDate,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler},
        #{note}
        )
    </insert>
    <delete id="delete" parameterType="String">
            DELETE FROM "LICENCE"
            WHERE "ID" = #{id}
    </delete>

    <select id="list" parameterType="String" resultMap="licenceResultMap">
        SELECT
        <include refid="licenceColumns"/>
        FROM "LICENCE"
        WHERE ${value}
    </select>


    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT
            "NAME"
        FROM "LICENCE"
        WHERE "ID" = #{id}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT
        <include refid="labelColumns"/>
        FROM "LICENCE"
    </select>
</mapper>
