<?xml version="1.0" encoding="UTF-8"?>
<!--
 Octagon Plugin Person: Person plugin for Octagon application.
 Copyright (C) 2021-2022 the original author or authors.

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; version 2
 of the License only.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nanoboot.octagon.plugin.person.persistence.impl.mappers.ReadingDiaryMapper">

    <resultMap id="readingDiaryResultMap" type="org.nanoboot.octagon.plugin.person.classes.ReadingDiary">
        <id property="id" column="ID" typeHandler="org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler"/>
        <result property="name" column="NAME"/>
        <result property="pageCount" column="PAGE_COUNT"/>
        <result property="pagesRead" column="PAGES_READ"/>

        <result property="since" column="SINCE" typeHandler="org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler" />
        <result property="until" column="UNTIL" typeHandler="org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler" />

        <result property="inProgress" column="IN_PROGRESS" typeHandler="org.nanoboot.octagon.entity.typehandlers.BooleanTypeHandler" />
        <result property="thingId" column="THING_ID"/>
        <result property="readingDiaryType" column="READING_DIARY_TYPE" typeHandler="org.nanoboot.octagon.plugin.person.persistence.impl.typehandlers.ReadingDiaryTypeTypeHandler" />
    </resultMap>

    <sql id="readingDiaryColumns">
        "ID", "NAME", "PAGE_COUNT", "PAGES_READ", "SINCE", "UNTIL", "IN_PROGRESS", "THING_ID", "READING_DIARY_TYPE"
    </sql>

    <insert id="create" parameterType="org.nanoboot.octagon.plugin.person.classes.ReadingDiary">
        INSERT INTO "READING_DIARY" (<include refid="readingDiaryColumns"/>)
        VALUES
        (#{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=org.nanoboot.octagon.entity.typehandlers.UUIDTypeHandler},
        #{name},
        #{pageCount},
        #{pagesRead},

        #{since,javaType=org.nanoboot.powerframework.time.moment.LocalDate,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler},
        #{until,javaType=org.nanoboot.powerframework.time.moment.LocalDate,jdbcType=VARCHAR,typeHandler=org.nanoboot.octagon.entity.typehandlers.LocalDateTypeHandler},

        #{inProgress,javaType=Boolean,jdbcType=INTEGER,typeHandler=org.nanoboot.octagon.entity.typehandlers.BooleanTypeHandler},
        #{thingId},
        #{readingDiaryType,javaType=Boolean,jdbcType=INTEGER,typeHandler=org.nanoboot.octagon.plugin.person.persistence.impl.typehandlers.ReadingDiaryTypeTypeHandler}
        )
    </insert>

    <select id="list" parameterType="String" resultMap="readingDiaryResultMap">
        SELECT
        <include refid="readingDiaryColumns"/>
        FROM "READING_DIARY"
        WHERE ${value}
    </select>

    <select id="read" parameterType="String" resultMap="readingDiaryResultMap">
        SELECT
        <include refid="readingDiaryColumns"/>
        FROM "READING_DIARY"
        WHERE "ID" = #{id}
    </select>

    <update id="update" parameterType="org.nanoboot.octagon.plugin.person.classes.ReadingDiary">
        UPDATE "READING_DIARY" SET
        "NAME" = #{name},
        "PAGE_COUNT" = #{pageCount},
        "PAGES_READ" = #{pagesRead},

        "SINCE" = #{since},
        "UNTIL" = #{until},

        "IN_PROGRESS" = #{inProgress},
        "THING_ID" = #{thingId},
        "READING_DIARY_TYPE" = #{readingDiaryType}
        WHERE "ID" = #{id}
    </update>

    <delete id="delete" parameterType="String">
            DELETE FROM "READING_DIARY"
            WHERE "ID" = #{id}
    </delete>


    <!-- Labels -->
    <resultMap id="labelResultMap" type="org.nanoboot.octagon.entity.classes.EntityLabel">
        <id property="id" column="ID"/>
        <result property="label" column="NAME"/>
    </resultMap>

    <sql id="labelColumns">
        "ID", "NAME"
    </sql>

    <select id="getLabel" parameterType="String" resultType="String">
        SELECT
            "NAME"
        FROM "READING_DIARY"
        WHERE "ID" = #{id}
    </select>
    <select id="getLabels" resultMap="labelResultMap">
        SELECT
        <include refid="labelColumns"/>
        FROM "READING_DIARY"
    </select>
</mapper>
